{% extends 'template.html' %}

{% block content %}

<head>
    <title>Blog</title>
</head>
<body>
    <h1>All Categories</h1>
    <ul>
        {% for category in category_list %}
            <a href="{% url 'categories' category.name %}"><li>{{ category.name }}</li></a>
        {% empty %}
            <li>There is no category yet.</li>
        {% endfor %}
    </ul>

    <h1>All Articles</h1>
    <ul>
        {% for article in article_list %}
            <li>{{ article.title }} - {{ article.author }} -
                {% for category in article.category.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </li>
        {% empty %}
            <li>There is no Article yet.</li>
        {% endfor %}
    </ul>
</body>


{% endblock %}
