{% extends 'template.html' %}

{% block content %}

{#            style="border: 1px solid #ccc;#}
{#            padding: 50px; margin: 1px 500px; left: 600px;#}
{#            font-family: Arial, sans-serif;#}
{#            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);">#}
   <div class="card"

          style="border: 1px solid #ccc;
            padding: 20px; margin: 50px 120px;
            font-family: Arial, sans-serif;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);">
    <h1> Last Article Read on Blog</h1>
                <p>
                    <br>
   <img src="{{ last_article.image.url }}" alt="Image for article" style="max-height: 30%; max-width: 30%">
                <h2><a href="{% url 'article_details' last_article.pk %}">{{ last_article.title|title }}</a><br></h2>

                Author: {{ last_article.author }}<br>
                Article ID: {{ last_article.id  }}
                <small>Posted {{ last_article.created_date|timesince }} ago - {{ last_article.created_date }}</small>
                - Categories:
                {% for category in last_article.category.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                <br>
            <br>
                <p>{{ last_article.content |truncatewords:50 }}</p>


            </div>

    <h1>All Articles</h1>
    <ul>
        {% for article in page %}

            <div class="card"

            style="border: 1px solid #ccc;
            padding: 20px; margin: 50px 120px;
            font-family: Arial, sans-serif;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);">
                <p>
                    <br>
            <img src="{{ article.image.url }}" alt="Image for article" style="max-height: 30%; max-width: 30%">
                <h2><a href="{% url 'article_details' article.pk %}">{{ article.title|title }}</a><br></h2>

                Author: {{ article.author }}<br>
                Article ID: {{ article.id  }}
                <small>Posted {{ article.created_date|timesince }} ago - {{ article.created_date }}</small>
                - Categories:
                {% for category in article.category.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                <br>
            <br>

                <p>{{ article.content |truncatewords:50 }}</p>


            </div>


        {% empty %}
            <li>There is No Article Yet</li>
        {% endfor %}
    </ul>

    <div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page.previous_page_number }}">Previous Page</a>
        {% endif %}

        <span class="current-page">
            Page {{ page.number }} / {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next Page</a>
            <a href="?page={{ page.paginator.num_pages }}">End &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}